<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bulma.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 class="has-text-centered">Lista de regiones</h1>


        <table class="table">
            <thead>
            <tr>
                <th>Nombre Region</th>
                <th>Número Region</th>
            </tr>
            </thead>

            <tfoot>
            <tr>
                <th>Nombre Region</th>
                <th>Número Region</th>
            </tr>
            </tfoot>

            <tbody th:each="reg : ${regiones}" th:remove="tag">
            <tr>
                <td th:text="${reg.nombreReg}">...</td>

                <td th:text="${reg.numeroReg}">...</td>
            </tr>

            </tbody>

        </table>

<br>
<br>

</body>
</html>