<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/datatableLibro.js}"></script>
</head>

<body>

<main class="container-fluid"><h1>Libros</h1>
    <section class="column is-centered">
        <div class="table is-bordered is-striped is-narrow is-hoverable">

            <table id="libroTable" class="table table-bordered">

                <!-- Header Table -->
                <thead class="p-3 mb-2 bg-info text-white" >
                <tr class="has-background-primary">
                    <th>Codigo Barra</th>
                    <th>ISBM</th>
                    <th>ISBN Original</th>
                    <th>Titulo del Libro</th>
                    <th>N. Paginas</th>
                    <th>Ano de Publicacion</th>
                    <th>Edicion</th>
                    <th>Editorial</th>
                    <th></th>

                </tr>
                </thead>
                <!-- Footer Table -->
                <tfoot>
                <tr>
                    <th>Codigo Barra</th>
                    <th>ISBM</th>
                    <th>ISBN Original</th>
                    <th>Titulo del Libro</th>
                    <th>N. Paginas</th>
                    <th>Ano de Publicacion</th>
                    <th>Edicion</th>
                    <th>Editorial</th>

                </tr>
                </tfoot>
            </table>
        </div>

        <div class="modal" id="miModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Libro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="">Codigo Barra</label>
                            <input id="cod" class="form-control" type="text">

                    </div>
                    <div class="form-group col-md-6">
                        <label class="">ISBM</label>
                            <input id="isbm" class="form-control" type="text">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="">ISBM ORIGINAL</label>
                        <input id="isbmo" class="form-control" type="text">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="">TITULO LIBRO</label>
                        <input id="titleLibro" class="form-control" type="text">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="">NUMERO PAGINAS</label>
                        <input id="nPag" class="form-control" type="text">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="">ANO PUBLICACION</label>
                        <input id="aPub" class="form-control" type="text">
                    </div>

                    <div class="form-group col-md-6">
                        <label class="">EDICION</label>
                        <input id="edic" class="form-control" type="text">
                    </div>

                    <div class="form-group col-md-6">
                        <label class="">EDITORIAL</label>
                        <input id="edit" class="form-control" type="text">
                    </div>



                </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>

        </div>
        </div>
    </section>
</main>

</body>
</html>